body {
    font-family: 'Signika', sans-serif;
}

h1 {
    margin: 20px 0 0 20px;
}

input {
    display: inline-block;
    margin: 20px 0 0 20px;
}

.category-ratings {
    display: inline-block;
    margin: 20px 0 0 20px;
    /*vertical-align: top;*/
}

.header {
    font-weight: 700;
}

.rating-cell {
    text-align: right;
}

.category-cell {
    font-style: italic;
}

.wheel {
    display: inline-block;
}

.axis text {
    font-size: 16px;
}

.axis line,
.axis circle {
    fill: none;
    stroke: #777;
    stroke-dasharray: 1,4;
}

.axis :last-of-type circle {
    stroke: #333;
    stroke-dasharray: none;
    stroke-width: 2px;
}

.line {
    /*fill: #FF0000;*/
    opacity: 0.7;
    
    /*stroke: #BF0000;*/
    stroke-width: 2px;
    stroke-opacity: 1;
}
