<html>
<head>
    <meta charset='utf-8'>
    <title>Hopwheel</title>
    <link rel='stylesheet' href='../static/css/index.css'></link>
</head>
<body>
    <div class='input-form'>
        <input class='category' id='fruit-ester' value='Fruit (Ester)' type='submit'>
        <input class='category' id='alcohol' value='Alcohol' type='submit'>
        <input class='category' id='fruit-citrus' value='Fruit (Citrus)' type='submit'>
        <input class='category' id='hops' value='Hops' type='submit'>
        <input class='category' id='flowers' value='Flowers' type='submit'>
        <input class='category' id='spice' value='Spice' type='submit'>
        <input class='category' id='malt' value='Malt' type='submit'>
        <input class='category' id='toffee' value='Toffee' type='submit'>
        <input class='category' id='roast' value='Roast' type='submit'>
        <input class='category' id='sulphur' value='Sulphur' type='submit'>
        <input class='category' id='sweet' value='Sweet' type='submit'>
        <input class='category' id='sour' value='Sour' type='submit'>
        <input class='category' id='bitter' value='Bitter' type='submit'>
        <input class='category' id='astringency' value='Astringency' type='submit'>
        <input class='category' id='body' value='Body' type='submit'>
        <input class='category' id='linger' value='Linger' type='submit'>
    </div>

    <div class='wheel'></div>

<script src='http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js'></script>
<script src="http://d3js.org/d3.v3.min.js"></script>
<script src='../static/js/index.js'></script>

</body>
</html>